{% extends "polls/gnuplot.html" %}
{% block content2 %}
{% load staticfiles %}
<div style="margin-top:60px;">
    Uma das ferramentas principais e basicas de qualquer plotagem é a manipulação de graficos isso nós chamamos de "plotar" um grafico
</div>

<h3>Plotagem direta</h3>

<p>
    Aqui com plotagem direta queremos dizer plotagem de uma função definita diretamente, masi a frente vamos aprender a gerar uma variavel e nessa variavel fazer a protagem 
</p>

<p>dentro do GNUPLOT rode <br>

</p>
<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    <p>gnuplot> plot ~função~ </p>
    </code></pre>
  </div>

por exemplo:

<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    <p>gnuplot> plot sin(x) </p>
    </code></pre>
  </div>
(obs: tem q ser em ingles se for usar função senoidal)
<h3>Resultado:</h3>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/plotb211.png"/> 

<h3>Ajeitando o grafico</h3>

<p>
Agora que já sabemos plotar, podemos ajeitar também os eixos X e Y, para isso usamos <code>xrange</code> e <code>yrange</code> , vamos "setar" ela, ou sejá vamos definir algumas variaveis do programa
  
</p>

<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    <p>gnuplot> set xrange[min:max] </p>
    </code></pre>
  </div>


por exemplo:

<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    <p>gnuplot> set xrange[2:5]<br>
gnuplot> gnuplot> plot sin(x) </p>
    </code></pre>
  </div>
  
gera

<br><br><img src="http://{{ request.get_host }}/polls/static/assets/images/plotb212.png"/> 

<br><br>
o mesmo pode ser obtido fazendo plot [x] [y] função exemplo:

<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    gnuplot> gnuplot> plot [2:5] sin(x) 
    gnuplot> gnuplot> plot [x=2:5] sin(x) 
    </code></pre>
  </div>
<h3>Definir funções</h3>

<p>muitas vezes não queremos escrever todas as funções na plotagem, ou temos uma função recorrente, para isso nós vamos setar uma função f(x), fazemos escrevendo f(x) = função   (espaço entre o = f(x) e a função é importante)
exemplo:</p>
<div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html">
    gnuplot> gnuplot> f(x) = sin(x) 
    gnuplot> gnuplot> plot f(x) 
    </code></pre>
  </div>


<br><br><img src="http://{{ request.get_host }}/polls/static/assets/images/plotb213.png"/> 

<h3>algumas funções internas</h3>

</p><pre>      __________________________________________________________
      Function            Returns
      -----------      ------------------------------------------
      abs(x)            valor absoluto de x, |x|
      acos(x)           arc-cosseno de x
      asin(x)           arc-seno    de x  
      atan(x)           arc-tangente de x
      cos(x)            cosseno      de x,  x em radianos.
      cosh(x)           cosseno hyperbolico de x, x em radianos
      erf(x)            função erro de x
      exp(x)            função exponencial de x, base e
      inverf(x)         função inversa do erro de x
      invnorm(x)        função inversa da distribuição de x
      log(x)            log de x, base e
      log10(x)          log de x, base 10
      norm(x)           distruição gaussiana normal
      rand(x)           gerador de números pseudo-aleatorios      
      sgn(x)            1 se x &gt; 0, -1 se x &lt; 0, 0 se x=0
      sin(x)            seno      de x, x em radianos
      sinh(x)           seno hyperbolico de x, x em radianos
      sqrt(x)           raiz quadrada de x
      tan(x)            tangente de x, x em radianos
      tanh(x)           tangente  hyperbolico de x, x em radianos
      ___________________________________________________________
      Bessel, gamma, ibeta, igamma, e lgamma também são supportados.  
      Muitas dessas funções aceitam argumentos complexos.
      Binarios e logicos também são aceitos.  
(obs: elevado deve ser feito com ** não com ^)
</pre>



{% endblock %}
