{% extends "polls/gnuplot.html" %}
{% block content2 %}
{% load staticfiles %}
<div style="font-size:30px;text-align:center">Primeiro passo:</div>
<div style="text-align:center"><br> baixe o programa: 
<br>ou direto:<a href="https://sourceforge.net/projects/gnuplot/files/gnuplot/5.0.3/gp503-win32-mingw.exe/download"> aqui</a>
<br>ou pelo site :<a href="http://www.gnuplot.info/download.html">aqui</a></div>
<div style="font-size:30px;text-align:center">Instruções gerais:
<div style="font-size:20px"><br>selecione a lingua em ingles:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw.png"/> 
<div style="font-size:20px"><br>clique em next:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/installw2.png"/> 
<div style="font-size:20px"><br>clique em next:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw3.png"/> 
<div style="font-size:20px"><br>clique em next:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw4.png"/> 
<div style="font-size:20px"><br>verifique que está em "full instalation" e clique em next:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw5.png"/>
<div style="font-size:20px"><br>clique em next:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw6.png"/>
<div style="font-size:20px"><br>deixe as configurações em default e clique next:</div> 
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw7.png"/> 
<div style="font-size:20px"><br>clique em install:</div>
<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw8.png"/>  
<div style="font-size:20px"><br>espere terminar:</div>

<br><img src="http://{{ request.get_host }}/polls/static/assets/images/intallw9.png"/> 
<div style="font-size:20px"><br>caso de erro na primeira vez que abrir o programa não tenha medo, continue, va no seu menu e abra o programa pelo MENU INICIAR</div>


</div>  {% endblock %}
