{% extends "polls/index.html" %}
{% block content %}
{% load staticfiles %}
<div class="page">escolha abaixo qual categoria e subcategoria quer acessar:</div>
<div>
    <ul class="menu2">
        <li>  <a href="#">instalação ->  
        <a href="{% url 'gnuplotl' %}">Linux</a>
        <a> | </a> <a href="{% url 'gnuplotw' %}">Windows</a>
        <a> | </a> <a href="{% url 'gnuploto' %}">OS X</a>
    </li>
        <li>  <a href="#">gráficos ->  
<a href="{% url 'gnuplotlimit' %}">limitações</a> <a>|</a>             
<a href="{% url 'gnuplotdoiseixos' %}">Bi Dimensional (2D)</a>  <a>|</a>
<a href="{% url 'gnuplottreseixos' %}">Tri Dimensional (3D)</a> <a>|</a>
<a href="{% url 'gnuplotmulti' %}">multi gráfico</a> <a>|</a>

<a href="{% url 'gnuplotparametrica' %}">paramétrica</a></li>
        <li>
<a href="#">recursos -></a>
<a href="{% url 'gnuplotcondicionais' %}">condicionais</a><a>|</a>
<a href="{% url 'gnuplotrepeticoes' %}">repetições</a><a>|</a>
<a href="{% url 'gnuplotmacros' %}">macros</a><a>|</a>
<a href="{% url 'gnuplotarquivos' %}">arquivos</a><a>|</a>
</li>
</ul>
</div>
    {% block content2 %}{% endblock %}
  {% endblock %}

