{% extends "polls/index.html" %}
{% block content %}
{% load staticfiles %}

<div class="page">
    Esse site tem o propósito, de ajudar complementar os estudos do cálculo diferencial e integral, não deve ser usado de forma nenhuma como fonte principal de informação, nele mostraremo 
como utilizar alguns dos principais programas computacionais para plotagem (grafico) e como tratar cada tipo diferente de função
    </div>
    <div class="page">
    <img src="http://{{ request.get_host }}/polls/static/assets/images/teste2.png"/> 
  </div>
  {% endblock %}
